@import '../@theme/themes';

:host::ng-deep
{
  nb-layout-column
  {
    padding: 0 !important;
  }
  
  .content_display
  {
    padding: nb-theme(layout-padding);
  }
  
  
  nb-sidebar
  {
    // Override responsive mode settings
    &.compacted
    {
      &.fixed
      {
        top:0 !important;
      }

      nb-sidebar-header
      {
        margin-left: -1.25rem;
        margin-right: -1.25rem;

        display: flex;
        justify-content: center;

        .profile-name
        {
          display: none;
        }
      }
    }

    nb-sidebar-footer
    {
      padding: 0;

      .sidebar-action-button
      {
        display: flex;
        height: nb-theme(sidebar-footer-height);
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: white;

        cursor: pointer;

        border: 1px solid $secondary-blue;
      }
    }
  }
}
