@import '../../../@theme/themes';

:host{
    .item-container{
        width: 100%;
        margin-bottom: 8px;
    }
    .repo-container{
        margin-bottom: nb-theme(dashboard-section-btm-margin);
        display: grid;
        grid-template-columns: 40% 40%;
        grid-column-gap: nb-theme(dashboard-item-col-gap);
        grid-row-gap: nb-theme(dashboard-item-row-gap);
    }
}