@import '../../../@theme/themes';

:host 
{
  .header
  {
    height:nb-theme(header-height);
    background: white;
    width: 100%;

    padding: 0;
    display: flex;
    align-items: center;

    .sidebar-toggle
    {
      font-size: 2.8125rem;
      color: $primary-blue;

      margin: 0 1rem 0 1rem;

      &:hover
      {
        text-decoration: none;
        color: $secondary-blue;
      }
    }

    .header-logo
    {
      .img
      {
        background-color: $primary-blue;
        -webkit-mask: url('../../../../assets/images/Logo_Small.png') center center no-repeat;
        width:15rem;
        height:3rem;
      }
    }
  }



  .header-action-button-group
  {
    padding: 0;
    background: $primary-blue;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 200px;

    .header-action-button
    {
      height: 100%;
      background: $primary-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
  
      color: white;
      border-right: 1px solid $secondary-blue;
  
      &:hover
      {
        text-decoration: none;
        background: $secondary-blue;
      }
  
      i
      {
        font-size: 2rem;
      }
    }
  }

}

