@import '../@theme/themes';

:host 
{
  .auth-wrapper
  {
    background: url('../../assets/images/placeholder-bg-img.jpg') no-repeat center center fixed;
    background-size: cover;

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img
    {
      max-width:200px;
    }
    
    .logo-text
    {
      color: white;
      font-size: 2.5rem;
      margin-bottom: 0.625rem;
    }
  } 
}
