@import '../../../../@theme/themes';

:host{
    .container-fluid{
        position: fixed;
        height: 100%;
        width: 100%;
        background: $tsp-black;
        top: 0;
        left: 0;
        z-index: 2000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popover-container-1, .popover-container-2, .popover-container-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 5px;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .popover-container-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        border-radius: nb-theme(dashboard-popover-radius);
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .title{
        color:$primary-blue;
        font-size: 16px;
    }

    .desc{
        color: $light-gray;
        font-size: 12px;
    }

    .name-input{
        margin-top: 20px;
        border: $light-gray 1px solid;
        border-radius: 0;
        height: 37px;
        font-size: 15px;
        width: 253px;
        text-align: center;
        color:black;
    }

    .name-input::-webkit-input-placeholder{
        font-size: 15px;
        color: $light-gray;
    }

    .cancel-btn, .next-btn{
        height: 37px;
        color: white;
        border: none;
        border-radius: 0;
        font-family: Roboto;
        font-weight: 400;
        text-transform: initial;
        padding-left:14px;
        padding-right: 14px;
        padding-top: 0px;
        padding-bottom: 0px;
        min-width: 122px;
    }

    .btn-group{
        display: flex;
        width: 253px;
        justify-content: space-between;
        margin-top: 10px;
    }

    .btn-group-alt{
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .next-btn{
        background-color: $primary-blue;
        margin-left: 15px;
    }

    .cancel-btn{
        background-color: $light-gray;
    }
}