@import '../../../../@theme/themes';
:host {
  .item-container {
    background-color: nb-theme(dashboard-item-bg);
    color: nb-theme(dashboard-item-text-color);
    font-size: nb-theme(dashboard-item-font-size);
    border: 1px solid nb-theme(dashboard-item-border-color);
    display: flex;
    flex-direction: row;
    height: 74px;
    width: 500px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
  .icon {
    background-image: url('../../../../../assets/icons/workspace-icon.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 34px;
    width: 34px;
    margin-right: 20px;
  }
  .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .status-icon-RUNNING,
  .status-icon-STOPPED,
  .status-icon-STARTING {
    background-image: url('../../../../../assets/icons/workspace-status-online.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    margin-left: auto;
  }
  .status-icon-STOPPED {
    // background-image: url('../../../../../assets/icons/workspace-status-stopped.png');
  }
  .status-icon-STARTING {
    // background-image: url('../../../../../assets/icons/workspace-status-loading.png');
  }
  .delete-btn {
    // background-image: url('../../../../../assets/icons/workspace-delete.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 50%;
    height: 20px;
    width: 20px;
    border: 0;
    background-color: transparent;
  }
  .item-container .info {
    display: grid;
    position: absolute;
    visibility: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background: #fbfbfb;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 15px;
    border: 1px solid nb-theme(dashboard-item-border-color);
    grid-row-gap: 5px;
    z-index: 3000;
  }
  .item-container:hover .info {
    visibility: visible;
  }
  .title-1,
  .title-2,
  .title-3,
  .title-4,
  .title-5,
  {
    grid-column-start: 1;
  }
  .value-1,
  .value-3,
  .value-4,
  .value-5,
  {
    grid-column-start: 2;
    font-weight: lighter;
  }
  .value-2-STARTING,
  .value-2-RUNNING,
  .value-2-STOPPED {
    grid-column-start: 2;
  }
  .value-2-STOPPED {
    color: red
  }
  .value-2-STARTING {
    color: rgb(255, 208, 0)
  }
  .value-2-RUNNING {
    color: green
  }
}
