@import '../../../../@theme/themes';

:host{
    .item-container{
        background-color: nb-theme(dashboard-item-bg);
        color: nb-theme(dashboard-item-text-color);
        font-size:nb-theme(dashboard-item-font-size);
        border: 1px solid nb-theme(dashboard-item-border-color);
        display: flex;
        flex-direction: row;
        height: 74px;
        width: 500px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .item-container:hover{
        background-color: $primary-gray;
    }
    .icon{
        background-image: url('../../../../../assets/icons/workspace-icon.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 34px;
        width: 34px;
        margin-right: 20px;
    }
    .name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .status-icon{
        background-image: url('../../../../../assets/icons/workspace-status-online.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 20px;
        width: 20px;
        margin-right: 20px;
        margin-left: auto;
    }
    .delete-btn{
        background-image: url('../../../../../assets/icons/workspace-delete.png');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 50% 50%;
        height: 20px;
        width: 20px;
        border: 0;
        background-color: transparent;
    }
}
