<div class="item-container" (click)="onWorkshopSelect()">
  <div class="icon"></div>
  <div class="name">
    {{workspace.name}}
  </div>
  <div class="status-icon-{{workspace.status}}"></div>
  <button class="delete-btn btn-light"></button>
  <div class="info">
    <div class="title-1">Workspace Name</div>
    <div class="value-1">{{workspace.name}}</div>
    <div class="title-2">Status</div>
    <div class="value-2-{{workspace.status}}">{{workspace.status}}</div>
    <div class="title-3">Organization</div>
    <div class="value-3">{{workspace.org}}</div>
    <div class="title-4">Environment Type</div>
    <div class="value-4">{{workspace.envType}}</div>
    <div class="title-5">Environment Location</div>
    <div class="value-5">{{workspace.envLoc}}</div>
  </div>
</div>