<div class="item-container" (click)="onWorkshopSelect()">
  <div class="icon"></div>
  <div class="name">
    {{workspace.name}}
  </div>
  <div class="status-icon-{{workspace.status}}" [ngClass]="{'animated infinite flash': workspace.status != 'STOPPED'}"></div>
  <div class="btn-group">
    <button class="action-btn-{{workspace.status}} btn-light" (click)="onActionTapped($event)"></button>
    <button class="info-btn" (click)="onInfoTapped($event)"></button>
    <button class="delete-btn btn-light" (click)="onDeleteTapped($event)"></button>
  </div>
  <div class="info-container" *ngIf="showInfo" (click)="onInfoMaskTapped($event)">
    <div class="info">
      <div class="title-1">Workspace Information:</div>
      <div class="info-header">
        <button class="delete-btn btn-light"></button>
      </div>
      <div class="title-1">Workspace Name</div>
      <div class="value-1">{{workspace.name}}</div>
      <div class="title-2">Status</div>
      <div class="value-2-{{workspace.status}}">{{workspace.status}}</div>
      <div class="title-3">Organization</div>
      <div class="value-3">{{workspace.org}}</div>
      <div class="title-4">Environment Type</div>
      <div class="value-4">{{workspace.envType}}</div>
    </div>
  </div>
</div>