/* COLOURS */
$primary-blue: #2B97C1;
$secondary-blue: #1B81A9;

$primary-gray: rgba(240,240,240,1);
$secondary-gray: rgba(224,224,224,1);
$dark-gray: rgba(102,102,102,1);
$light-gray: rgba(153,153,153,1);

$success-green: #51F641;

$tsp-black: rgba(0, 0, 0, 0.599);