// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes/default';

// Import colours
@import './_colours';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, morpheustheme);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  /*HEADER*/
  header-height: 4.75rem,

  /*SIDEBAR*/
  sidebar-bg: $primary-blue,

  // Menu item
  menu-group-fg: white,
  menu-fg: white,
  menu-bg: $primary-blue,
  menu-active-fg: white,
  menu-active-bg: $secondary-blue,
  menu-icon-color: white,
  menu-icon-active-color: white


), morpheustheme, default);

