// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes/default';

// Import colours
@import './_colours';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, morpheustheme);

$nb-themes: nb-register-theme((

 // app wise variables for each theme
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  design-window-width: 1024px,

  font-main: Roboto,
  font-secondary: Roboto,

  /*HEADER*/
  header-height: 4.75rem,

  /*SIDEBAR*/
  sidebar-bg: $primary-blue,

  // Menu item
  menu-group-fg: white,
  menu-fg: white,
  menu-bg: $primary-blue,
  menu-active-fg: white,
  menu-active-bg: $secondary-blue,
  menu-icon-color: white,
  menu-icon-active-color: white,
  menu-item-separator: $secondary-blue,

  // Dashboard
  dashboard-bg: $primary-gray,
  dashboard-item-bg: white,
  dashboard-item-text-color: $dark-gray,
  dashboard-item-border-color: $secondary-gray,
  dashboard-item-font-size: 14px,
  dashboard-list-title-color: $primary-blue,
  dashboard-list-title-font-size: 16px,
  dashboard-list-text-color: $light-gray,
  dashboard-list-text-font-size: 12px,
  dashboard-section-btm-margin: 30px,

  dashboard-popover-bg: $tsp-black,


), morpheustheme, default);

