// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes/default';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, morpheustheme);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  /*HEADER*/
  header-height: 4.75rem,

  /*SIDEBAR*/
  sidebar-bg: #70e1e1,

  // Menu item
  menu-bg: #70e1e1,
), morpheustheme, default);

