@import '../../../../@theme/themes';

:host{
    .item-container{
        width: 100%;
        background-color: white;
        color: nb-theme(dashboard-item-text-color);
        font-size:nb-theme(dashboard-item-font-size);
        border: 1px solid nb-theme(dashboard-item-border-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 57px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-group{
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .share{
        background-image: url('../../../../../assets/icons/share-icon.png');
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: 50% 50%;
        height: 20px;
        width: 20px;
        border: 0;
        background-color: transparent;
        margin-right: 20px;
    }

    .link{
        background-image: url('../../../../../assets/icons/link-icon.png');
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: 50% 50%;
        height: 20px;
        width: 20px;
        border: 0;
        background-color: transparent;
        margin-right: 20px;
    }

    .delete{
        background-image: url('../../../../../assets/icons/workspace-delete.png');
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: 50% 50%;
        height: 20px;
        width: 20px;
        border: 0;
        background-color: transparent;
    }
}