@import '../../@theme/themes';
:host {
  .application-library-intro {
    min-height: 18.75rem;
  }
  .title {
    color: nb-theme(dashboard-list-title-color);
    font-size: nb-theme(dashboard-list-title-font-size);
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
  }
  .application-library-applications {}
}
