<!-- <div class="d-flex justify-content-center align-items-center flex-column application-library-intro">
  <img src="../../../assets/icons/application-library-icon.png" style="width:6rem;">

  <div class="title">Application Library</div>
  <div class="description">Collection of blockchain applications. Developers are encouraged to contribute their products for freemium or premium purchases.</div>
</div>

<div>
  <div class="title">Applications</div>
  <div class="application-library-applications">
    <div class="row">
      <div class="col-sm" *ngFor="let app of apps">
        <ml-application [appname]="app.name"></ml-application>
      </div>
    </div>
  </div>
</div> -->

<ml-pagelayout [pageDetails]="pageDetails">
  <div>
    <div class="title">Applications</div>
    <div class="application-library-applications">
      <div class="row">
        <div class="col-sm" *ngFor="let app of apps">
          <ml-application [application]="app"></ml-application>
        </div>
      </div>
    </div>
  </div>
</ml-pagelayout>
