@import '../../@theme/themes';
:host {
  .application-library-intro {
    min-height: 18.75rem;
  }

  .application-library-applications {}
  .application-lib-icon {
    background: url('../../../assets/icons/application-library-icon.png') center center no-repeat;
    width: 6rem;
    height: 6rem;
  }
}
