<ml-pagelayout [pageDetails]="pageDetails">
  <div>
    <table class="table table-striped">
      <thead>
        <tr col="2">Membership Information</tr>
      </thead>
      <tbody>
        <tr>
          <td>Program Type</td>
          <td>Apple Developer Program</td>
        </tr>
        <tr>
          <td>Membership Type</td>
          <td>Startup/SME/Enterprise</td>
        </tr>
        <tr>
          <td>Registered User</td>
          <td>3/10</td>
        </tr>
        <tr>
          <td>Team Name</td>
          <td>Oiito Pte Ltd</td>
        </tr>
        <tr>
          <td>Team ID</td>
          <td>MEC66HPH36</td>
        </tr>
        <tr>
          <td>Entity Type</td>
          <td>Company</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>65-906855088</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>519 Balastier Road #04-05 La Shantier Singapore</td>
        </tr>
        <tr>
          <td>Expiration Date</td>
          <td>Dec 05, 2018</td>
        </tr>
      </tbody>
    </table>
  </div>
</ml-pagelayout>
