@import '../../../../@theme/themes';

:host 
{
  .login-wrapper
  {
    background: white;
    border-radius: 20px;

    width: 400px;
    padding: 1.25rem;

    .wrapper-header
    {
      font-size: 2.5rem;
      padding: 1rem 0;
      text-align: center;
    }
  } 
}
