@import '../../../../@theme/themes';

:host 
{
  .profile-pic
  {
    max-width:3rem;

  }

  .text
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile-name
  {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 0.625rem;
  }

  .email{
    color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    padding-left: 0.625rem;
    font-size: 10px;
  }
}